<% if @bookings.empty? %>
	<h3> No Bookings Found </h3>
<% else %>
	<h2>Listing Bookings</h2>
	<ul>
		<% @bookings.each do |booking| %>
			<li>
				<p> User : <%= booking.user.username %> </p>
				<p> Mobile : <%= booking.user.mobile %></p>
				<p> Room_Name : <%= booking.room.name %></p>
				<p> Start_Date : <%= booking.start_date %> </p>
				<p> End_Date : <%= booking.end_date %></p>
				<p> Is_Confirmed : <%= booking.is_confirmed %></p>
				<p> Price : <%= booking.price %></p>
				<hr>
			</li>
		<% end %>
	</ul>
<% end %>
<button type="button" class="btn btn-secondary"><%= link_to "Back", root_path %></button>
