<h2> <%= @amenity.name %> </h2>

<p> Name : <%= @amenity.name %> </br> </p>

<p> Description : <%= @amenity.description %> </br> </p>

<%= link_to "List Amenities", amenities_path %> |

<% if can? :create, @amenity %>
	<%= link_to "Edit", edit_amenity_path(@amenity.id) %> |
<% end %>

<% if can? :destroy, @amenity %>
	<%= link_to "Destroy", amenity_path(@amenity.id), method: :delete, data: {confirm: "Are you sure"} %>
<% end %>


