<h2>Listing Rooms</h2>

<% if @rooms.empty? %>
	<p> No Rooms Found </p>
<% else %>
	<table class="table" id="roomList">
		<thead>
			<tr>
				<th>Name</th>
				<th>Description</th>
				<th>Address</th>
				<th>City</th>
				<th>Image</th>
				<th>Amenities</th>
			</tr>
		</thead>
		<tbody>
			<% @rooms.each do |room| %>
				<tr>
					<td><%= link_to room.name, room_path(room.id) %></td>
					<td><%= room.description %></td>
					<td><%= room.address %></td>
					<td><%= room.city.name %></td>
					<td><%= image_tag room.images.url %></td>
					<td>
						<%= room.amenities.count %>
						<% room.amenities.each do |amenity| %>
							<li><%= amenity.name %></li>
						<% end %>
					</td>
				</tr>
			<% end %>
		</tbody>
	</table>
<% end %>

<%= will_paginate @rooms %> <br/>

<% if can? :create, Room.new %>
	<%= link_to "Add Room", new_room_path %>
<% end %>


<!-- <script>
	$(document).ready(function(){
		$('#roomList').DataTable();
	});
</script> -->
