<div class="row">
	<% @rooms.each do |room|%>
	<div class="col-sm-6 col-md-4 col-lg-4">
		<div class="card">
		  <%= link_to image_tag(room.images.url, height: "150px", width: "100%"), room_path(room) %>
		  <div class="card-padding">

        <!-- Event Header -->
 	 	<div class="row">
	  		<h4 class="text-center"><%= link_to "#{room.name}", room_path(room) %></h4>
	  	</div>
	      
        <!-- Room Control Panel -->
        <div class="row">
        	<div class="col-md-8"> 
        		<p class="text-left"><%= room.city.name %></p>
        	</div>
        	<div class="col-md-4">
        		<p class="text-center">
        			<%= link_to room_path(room) do%>
    						<span class="glyphicon glyphicon-eye-open"></span>
    					<%end%>
    					<% if can? :update, room %>
    						<%= link_to edit_room_path(room) do %>
    							<span class="glyphicon glyphicon-pencil"></span>
    						<%end%>
    						<%= link_to room_path(room), method: :delete, data: {confirm: "Are you sure?"} do %>
    							<span class="glyphicon glyphicon-trash"></span>
    						<%end%>	
    					<% end %>
        		</p>
        	</div>
        </div>
        
        <!-- Room Date & Buy -->
        <div class="row">
        	<div class="col-sm-6 col-md-6 ">
        		<p class="text-center well well-sm"> <small>Rs.<%= room.price %></small></p>
        	</div>
        	<div class="col-sm-6 col-md-6" style="margin-top:2px">
        		<p class="text-center"><a href="/rooms/<%= "#{room.id}" %>" class="btn btn-danger" role="button" style="border: none; color: white;">Book Room</a></p>
        	</div>
        </div>

		  </div>
		</div>
	</div>
	<%end%>
</div>
<%= will_paginate @rooms %> <br/>

<% if can? :create, Room.new %>
	<button type="button" class="btn btn-secondary"><%= link_to "Add Room", new_room_path %></button>
<% end %>


<!-- <div class="row">
	<div class="col-md-7">
		<div class="page-header">
			<h2>Listing Rooms</h2>
		</div>
		<%# if @rooms.empty? %>
			<p> No Rooms Found </p>
		<%# else %>
			<table class="table" id="roomList">
				<thead>
					<tr>
						<th>Name</th>
						<th>Description</th>
						<th>Address</th>
						<th>City</th>
						<th>Image</th>
						<th>Amenities</th>
					</tr>
				</thead>
				<tbody>
					<%# @rooms.each do |room| %>
						<tr>
							<td><%#= link_to room.name, room_path(room.id) %></td>
							<td>
          						<%#= room.description.truncate(150) %>
          						<%#= link_to room, class: "btn btn-info pull-right btn-sm" do %>
            						<i class="glyphicon glyphicon-share-alt"></i> Read More
          						<%# end %>
          					</td>
							<td><%#= room.address %></td>
							<td><%#= room.city.name %></td>
							<td><%#= image_tag room.images.url %></td>
							<td>
								<%# room.amenities.each do |amenity| %>
									<li><%#= amenity.name %></li>
								<%# end %>
								(<%#= room.amenities.count %>)
							</td>
						</tr>
					<%# end %>
				</tbody>
			</table>
		<%# end %>

		<%#= will_paginate @rooms %> <br/>

		<%# if can? :create, Room.new %>
			<button type="button" class="btn btn-secondary"><%#= link_to "Add Room", new_room_path %></button>
		<%# end %>
	</div>
	<div class="col-md-5">
		<div class="page-header">
			<h2>Google Map Route</h2>
		</div>
		<div id="map" style="height: 400px; width: 100%;"></div>
		<script src="http://maps.google.com/maps/api/js?key=AIzaSyBafn-hychG-pRtOJ78xkZ_KEwEdy7zSPw"></script>
	</div>
</div>

<script>
    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 4,
      center: new google.maps.LatLng(21.146633, 79.088860),
      mapTypeId: google.maps.MapTypeId.ROADMAP
    });

    var locations = []
    <%# @rooms.each do |room| %>
    	locations.push([<%#= room.latitude %>, <%#= room.longitude %>])
    <%# end %>
    console.log(locations);
    var infowindow = new google.maps.InfoWindow();

    var marker, i;

    for (i = 0; i < locations.length; i++) {  
      marker = new google.maps.Marker({
        position: new google.maps.LatLng(locations[i][0], locations[i][1]),
        map: map
      });

      google.maps.event.addListener(marker, 'click', (function(marker, i) {
        return function() {
          // infowindow.setContent(locations[i][0]);
          infowindow.open(map, marker);
        }
      })(marker, i));
    }
  </script>


<script>
	$(document).ready(function(){
		$('#roomList').DataTable();
	});
</script> -->
