<% if @rooms.empty? %>
	<p>No Rooms Found</p>
<% else %>
	<h2>Listing Unauthorized Rooms</h2>
	<% @rooms.each do |room| %>
		<li>
			<p> Name : <%= room.name %> </p>
			<p> Is_Authorized : <%= room.is_authorized %> </p>
			<%= form_for room do |f| %>
				<%= f.check_box :is_authorized %>
				<%= f.submit "Authorize Room" %>
			<% end %>
			<%= link_to "Show", room_path(room.id) %>
		</li>
	<% end %>
<% end %>

<%= link_to "Back", root_path %>

