<div class="row">
	<div class="col-md-6">
		<div class="page-header">
			<h2> Add Room </h2>
		</div>
		<div id="errorMsg"></div>
		<%= form_for @room do |f| %>

			<% if @room.errors.any? %>
				<h3>These errors prohibitted the form from being saved : </h3>
				<ul>
					<% @room.errors.full_messages.each do |msg| %>
						<li><%= msg %></li>
					<% end %>
				</ul>
			<% end %>
			
			<div class="form-group">
				<label> Name : </label> </br>
				<%= f.text_field :name, autofocus: true, class: "form-control" %> </br>
			</div>

			<div class="form-group">
				<label> Description : </label> </br>
				<%= f.text_area :description, class: "form-control" %> </br>
			</div>

			<div class="form-group">
				<label> Amenities : </label> </br>
				<%= f.collection_check_boxes :amenity_ids, Amenity.all, :id, :name, class: "form-control" %> </br>
			</div>

			<div class="form-group">
				<label> Price : </label> </br>
				<%= f.number_field :price, class: "form-control" %> </br>
			</div>

			<div class="form-group">
				<label> Rules : </label> </br>
				<%= f.text_area :rules, class: "form-control" %> </br>
			</div>

			<div class="form-group">
				<label> Image : </label> </br>
				<%= f.file_field :images, class: "form-control" %>
				<% if f.object.images? %>
					<%= image_tag f.object.images.url %>
					<%= f.label :remove_images %>
					<%= f.check_box :remove_images %>
				<% end %> </br>
			</div>

			<div class="form-group">
				<label> Address : </label> </br>
				<%= f.text_area :address, class: "form-control" %> </br>
			</div>

			<div class="form-group">
				<label> City : </label> </br>
				<%= f.collection_select :city_id, City.all, :id, :name, prompt: "Select City", class: "form-control" %> </br>
			</div>

			<%= f.submit "Add Room", class: "btn btn-secondary" %> or <button type="button" class="btn btn-secondary"><%= link_to "Back", rooms_path %></button>
		<% end %>
	</div>
</div>


<script>
	$(document).ready(function(){
		$('#room_city_id').chosen();
	});
</script>

<!-- <div class="form-group">
    <label class="col-xs-3 control-label">Programming Languages</label>
    <div class="col-xs-6">
        <div class="checkbox">
            <input type="checkbox" name="languages[]" value="net" id="netCheckbox" class="styled" />
            <label for="netCheckbox">.Net</label>
        </div>

        <div class="checkbox">
            <input type="checkbox" name="languages[]" value="java" id="javaCheckbox" class="styled" />
            <label for="javaCheckbox">Java</label>
        </div>

        <div class="checkbox">
            <input type="checkbox" name="languages[]" value="c" id="cCheckbox" class="styled" />
            <label for="cCheckbox">C/C++</label>
        </div>

        <div class="checkbox">
            <input type="checkbox" name="languages[]" value="php" id="phpCheckbox" class="styled" />
            <label for="phpCheckbox">PHP</label>
        </div>

        <div class="checkbox">
            <input type="checkbox" name="languages[]" value="perl" id="perlCheckbox" class="styled" />
            <label for="perlCheckbox">Perl</label>
        </div>

        <div class="checkbox">
            <input type="checkbox" name="languages[]" value="ruby" id="rubyCheckbox" class="styled" />
            <label for="rubyCheckbox">Ruby</label>
        </div>

        <div class="checkbox">
            <input type="checkbox" name="languages[]" value="python" id="pythonCheckbox" class="styled" />
            <label for="pythonCheckbox">Python</label>
        </div>

        <div class="checkbox">
            <input type="checkbox" name="languages[]" value="javascript" id="javascriptCheckbox" class="styled" />
            <label for="javascriptCheckbox">Javascript</label>
        </div>
    </div>
</div> -->
<!-- <label class="checkbox-inline">
  <input type="checkbox" id="inlineCheckbox1" value="option1"> 1
</label> -->


