<h2><%= @room.name %></h2>

<p> Name : <%= @room.name %> </br> </p>

<p> Description : <%= @room.description %> </br> </p>

<p> Price : <%= @room.price %> </br> </p>

<p> Rules : <%= @room.rules %> </br> </p>

<p> Address : <%= @room.address %> </br> </p>

<p> Image : <%= image_tag @room.images.url %> </br> </p>

<p> Latitude : <%= @room.latitude %> </br> </p>

<p> Longtitude : <%= @room.longitude %> </br> </p>

<% if user_signed_in? %>
	<%= form_for @booking do |f| %>
		<label>Start_Date : </label> </br>
		<%= f.date_field :start_date %> </br>

		<label>End_Date : </label> </br>
		<%= f.date_field :end_date %> </br>

		<%= f.hidden_field :room_id, value: @room.id %>
		<%= f.submit %>
	<% end %>
<% end %>

<%= link_to "List Rooms", rooms_path %> |

<% if can? :update, @room %>
	<%= link_to "Edit", edit_room_path(@room.id) %> |
<% end %>

<% if can? :destroy, @room %>
	<%= link_to "Destroy", room_path(@room.id), method: :delete, data: {confirm: "Are you sure"} %>
<% end %>

