<div class="row">
	<div class="col-md-7">
		<div class="page-header">
			<h2><%= @city.name %></h2>
		</div>
		<% if @city.rooms.empty? %>
			<p>No Rooms Found</p>
		<% else %>
			<h2>Listing Rooms</h2>
			<table class="table">
				<thead>
					<tr>
						<th>Name</th>
						<th>Description</th>
						<th>Address</th>
						<th>City</th>
						<th>Image</th>
						<th>Amenities</th>
					</tr>
				</thead>
				<tbody>
					<% @city.rooms.each do |room| %>
						<tr>
							<td><%= link_to room.name, room %></td>
							<td>
                				<%= room.description.truncate(150) %>
                				<%= link_to room, class: "btn btn-info pull-right btn-sm" do %>
                 					<i class="glyphicon glyphicon-share-alt"></i> Read More
                				<% end %>       
              				</td>
							<td><%= room.address %></td>
							<td><%= room.city.name %></td>
							<td><%= image_tag room.images.url %></td>
							<td>
								<% room.amenities.each do |amenity| %>
									<li><%= amenity.name %></li>
								<% end %>
								(<%= room.amenities.count %>)
							</td>
						</tr>
					<% end %>
				</tbody>
			</table>
		<% end %>

		<button type="button" class="btn btn-secondary"><%= link_to "List Cities", cities_path %></button>

		<% if can? :update, @city %>
			<button type="button" class="btn btn-secondary"><%= link_to "Edit", edit_city_path(@city.id) %></button>
		<% end %>

		<% if can? :destroy, @city %>
			<button type="button" class="btn btn-secondary"><%= link_to "Destroy", city_path(@city.id), method: :delete, data: {confirm: "Are you sure"} %></button>
		<% end %>
	</div>
	<div class="col-md-5">
		<div class="page-header">
			<h2>Google Map Route</h2>
		</div>
		<div id="map" style="height: 400px; width: 100%;"></div>
    <script src="http://maps.google.com/maps/api/js?key=AIzaSyBafn-hychG-pRtOJ78xkZ_KEwEdy7zSPw"></script>
	</div>
</div>

<script>
    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 5,
      center: new google.maps.LatLng(21.146633, 79.088860),
      mapTypeId: google.maps.MapTypeId.ROADMAP
    });

    var locations = []
    <% @city.rooms.each do |room| %>
    	locations.push([<%= room.latitude %>, <%= room.longitude %>])
    <% end %>
    console.log(locations);
    var infowindow = new google.maps.InfoWindow();

    var marker, i;

    for (i = 0; i < locations.length; i++) {  
      marker = new google.maps.Marker({
        position: new google.maps.LatLng(locations[i][0], locations[i][1]),
        map: map
      });

      google.maps.event.addListener(marker, 'click', (function(marker, i) {
        return function() {
          // infowindow.setContent(locations[i][0]);
          infowindow.open(map, marker);
        }
      })(marker, i));
    }
  </script>

    <!-- <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBafn-hychG-pRtOJ78xkZ_KEwEdy7zSPw&callback=initMap"></script> -->

