<!DOCTYPE html>
<html>
<head>
  <title>RentARoom</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
 <p class="notice"><%= notice %></p>
 <p class="alert"><%= alert %></p>

<p>
<% if user_signed_in? %>
	<%= current_user.username %>
	<%= link_to "Edit Account", edit_user_registration_path %> | <%= link_to "LogOut", destroy_user_session_path, method: :delete %>
		<% if current_user.role?("host") == true %>
			|<%= link_to "My Rooms", rooms_my_rooms_path %>
		<% end %>

		<% if current_user.role?("admin") == true %>
			|<%= link_to "Unauthorized",rooms_mark_authorize_path %>
		<% end %>

		<% if current_user.role?("guest") == true %>
			|<%= link_to "Bookings", bookings_path%>
		<% end %>

		<% if current_user.role?("host") == true %>
			|<%= link_to "Unconfirmed Bookings", bookings_unconfirmed_path %>
		<% end %>
	<% else %>
	<%= link_to "Login", new_user_session_path %> | <%= link_to "Register", new_user_registration_path %>
<% end %>
</p>

<p>
	<%= link_to "Amenities", amenities_path %> | <%= link_to "Cities", cities_path %> | <%= link_to "Rooms", rooms_path %> |<%= link_to "Bookings", dashboard_index_path %>
</p>

<%= yield %>

</body>
</html>
